/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#1f1f1f8b;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}

/* UTILITIES */
.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

p{
    font-weight: 500;
    text-align: center;
}

.w-50{
    width: 50%;
}

hr{
    margin: 30px;
    border: 1px solid transparent;
    background-color: #8b8b8b8b;
}

/* buttons */
.btn{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn.btn-green{
    background-color: #44c744;
    border: 1px solid transparent;
}

.btn.btn-big{
    padding: 20px;
}

/* HEADER */
header {
    line-height: 80px;
    background-color: #264d9c;
    text-transform: uppercase;
    font-size: 12px;
}

header .logo{
    width: 15%;
}

header .logo img{
    vertical-align: middle;
}

header .nav-center{
    width: 45%;
}

header .nav-right{
    width: 40%;
    text-align: right;
}

header a{
    text-decoration: none;
    color: white;
}

header a:not(btn):hover{
    color: red;
}

header a.btn{
    line-height: 1;
}

/* MAIN */

/* jumbotron */
.jumbotron{
    height: 480px;
    background-color: #264d9c;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}

.jumbotron .container{
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jumbotron-text h1{
    margin-bottom: 30px;
    font-size: 48px;
    color: white;
}

/* headline */
.gray-bg{
    height: 100px;
    padding-top: 20px;
    text-align: center;
    background-color: lightgray;
}

.headline-section h3{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.headline-section h4{
    color: #1f1f1f8b;
}

/* MAIN CONTENT */

/* columns */
.col{
    width: 30%;
    margin-right: 5%;
}

.col:nth-child(3){
    margin-right: 0;
}

.container .col img{
    height: 150px;
    margin: 40px 30%;
}

.container .col h3{
    color: #44c744;
    font-size: 28px;
    text-align: center;
}

/* SECONDARY CONTENT */
.container .section-right{
    width: 40%;
    margin-left: 10%;
}

.container .section-right h2, .gray-bg h2{
    color: black;
}

.container .section-right p{
    margin: 20px 0;
    text-align: left;
}

/* FOOTER */
.gray-bg .container{
    text-align: left;
}

.gray-bg .container .float-right{
    float: right;
}